__pycache__/actualizar_google_ads_cuentas.cpython-311.pyc
/__pycache__
/clientes/__pycache__
/clientes/aura/routes/__pycache__
*.pyc
/flask_session
/venv311
/venv_linux
.env
*.local
.env.local.backup
.env.local.new
.env.railway
