Flask==2.3.3
Flask-Session==0.4.0
python-dotenv==1.0.1
openai==0.28.1
twilio==9.0.4
oauthlib==3.2.2
requests==2.31.0
requests-oauthlib==1.3.1
gunicorn==21.2.0
supabase==1.0.3
google-api-python-client==2.92.0
flask_socketio==5.3.6
apscheduler==3.10.4
eventlet==0.33.0  # Añadido para WebSockets
dnspython==2.1.0  # Añadir o actualizar esta versión
gevent==21.1.2
