.contact-info {
  background-color: #f8fbff;
  box-shadow: inset 2px 0 5px rgba(0, 128, 255, 0.05);
  padding: 1.5rem;
  overflow-y: auto;
}

.info-contacto p {
  color: #555;
}

/* Etiquetas */
.etiquetas-box {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tag,
.etiqueta-burbuja,
.etiqueta-chip {
  background-color: #d6ecff;
  color: #004080;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 13px;
}

.etiqueta-chip {
  font-size: 0.7rem;
  margin: 0 3px;
  position: relative;
  cursor: pointer;
}

.etiqueta-chip:hover {
  background-color: #a4d2ff;
}

.etiqueta-chip::after {
  content: "Haz clic para eliminar";
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #004080;
  color: #fff;
  font-size: 0.65rem;
  padding: 3px 6px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 10;
}

.etiqueta-chip:hover::after {
  opacity: 1;
}

.etiqueta-input {
  display: flex;
  margin-top: 6px;
  gap: 5px;
}

.etiqueta-input input {
  flex: 1;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.etiqueta-input button {
  background-color: #00aaff;
  border: none;
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
  cursor: pointer;
}
